/*TODO: use scss format for BEM convention*/


a .fab {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px;
    text-align: center;
}

a .fa-facebook-f {
    color: #3b5998;
}

a .fa-twitter {
    color: #38A1F3;
}

a .fa-linkedin-in {
    color: #0077B5;
}

a .fa-github-alt {
    color: #211F1F;
}

a .fab:visited, a .fab:hover, a .fab:active {
    color: #ccc;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited, a:hover, a:active {
    color: #ccc;
}

.clap-health-benefits, .clap-health-benefits:visited, .clap-health-benefits:hover, .clap-health-benefits:active {
    color: #000;
}

.slide-getting-remote-repo .commit-list-message {
    list-style: none;
}

.slide-getting-remote-repo ul li:nth-child(even) {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 2px solid #ccc;
}

.slide-making-changes ul li {
    list-style: none;
}


.slide-topic {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.slide-topic .slide-topic__header {
    display: inline-block;
}

.slide-overview .slide-overview__image-1,
.slide-getting-remote-repo .slide-getting-remote-repo__image-1,
.slide-getting-remote-repo .slide-getting-remote-repo__image-2,
.slide-getting-remote-repo .slide-adding-new-things__image-1,
.slide-getting-remote-repo .slide-adding-new-things__image-3,
.slide-getting-remote-repo .slide-adding-new-things__image-4,
.slide-getting-remote-repo .slide-adding-new-things__image-5,
.slide-getting-remote-repo .slide-adding-new-things__image-6,
.slide-getting-remote-repo .slide-adding-new-things__image-7,
.slide-getting-remote-repo .slide-adding-new-things__image-8,
.slide-getting-remote-repo .slide-adding-new-things__image-9,
.slide-making-changes .slide-making-changes__image-1,
.slide-making-changes .slide-making-changes__image-2,
.slide-making-changes .slide-making-changes__image-3,
.slide-making-changes .slide-making-changes__image-5,
.slide-making-changes .slide-making-changes__image-6,
.slide-branching .slide-branching__image-1,
.slide-branching .slide-branching__image-3,
.slide-branching .slide-branching__image-4,
.slide-branching .slide-branching__image-5 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-topic .slide-topic__image {
    background-image: url(assets/images/git.png);
    height: 40vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

.slide-overview .slide-overview__image-1 {
    background-image: url(assets/images/slide-overview.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-getting-remote-repo__image-1 {
    background-image: url(assets/images/getting-remote-repo-1.png);
    margin-top: -4em;
}

.slide-getting-remote-repo .slide-getting-remote-repo__image-2 {
    background-image: url(assets/images/getting-remote-repo-2.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-1 {
    background-image: url(assets/images/slide-adding-new-things__image-1.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-2 {
    background-image: url(assets/images/slide-adding-new-things__image-2.png);
    margin-top: -3em;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -10% center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-getting-remote-repo .slide-adding-new-things__image-3 {
    background-image: url(assets/images/slide-adding-new-things__image-3.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-4 {
    background-image: url(assets/images/slide-adding-new-things__image-4.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-5 {
    background-image: url(assets/images/slide-adding-new-things__image-5.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-6 {
    background-image: url(assets/images/slide-adding-new-things__image-6.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-7 {
    background-image: url(assets/images/slide-adding-new-things__image-7.png);
    margin-top: -4em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-8 {
    background-image: url(assets/images/slide-adding-new-things__image-8.png);
    margin-top: -2em;
}

.slide-getting-remote-repo .slide-adding-new-things__image-9 {
    background-image: url(assets/images/slide-adding-new-things__image-9.png);
    margin-top: -2em;
}


.slide-making-changes .slide-making-changes__image-1 {
    background-image: url(assets/images/slide-making-changes__image-1.png);
    margin-top: -4em;
}

.slide-making-changes .slide-making-changes__image-2 {
    background-image: url(assets/images/slide-making-changes__image-2.png);
    margin-top: -3em;

}

.slide-making-changes .slide-making-changes__image-3 {
    background-image: url(assets/images/slide-making-changes__image-3.png);
    margin-top: -3em;
}

.slide-making-changes .slide-making-changes__image-4 {
    background-image: url(assets/images/slide-making-changes__image-4.png);
    background-size: contain;
    margin-top: -4em;
    background-repeat: no-repeat;
    background-position: center 40%;
    display: block;

}

.slide-making-changes .slide-making-changes__note {
    border-left: 10px solid black;
    padding-left: 20px;
}

.slide-making-changes .slide-making-changes__image-5 {
    background-image: url(assets/images/slide-making-changes__image-5.png);
    margin-top: -4em;
}

.slide-making-changes .slide-making-changes__image-6 {
    background-image: url(assets/images/slide-making-changes__image-6.png);
    margin-top: -4em;
}

.slide-branching .slide-branching__image-1 {
    background-image: url(assets/images/slide-branching__image-1.png);
    margin-top: -3em;
}

.slide-branching .slide-branching__image-2 {
    background-image: url(assets/images/slide-branching__image-2.png);
    margin-top: -4em;
    background-size: 141%;
    background-repeat: no-repeat;
    background-position: -25% center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-branching .slide-branching__image-3 {
    background-image: url(assets/images/slide-branching__image-3.png);
    margin-top: -2em;
}

.slide-branching .slide-branching__image-4 {
    background-image: url(assets/images/slide-branching__image-4.png);
    margin-top: -2em;
}

.slide-branching .slide-branching__image-5 {
    background-image: url(assets/images/slide-branching__image-5.png);
    margin-top: -4em;
}

.slide-merging {
    float: left;
    margin-right: 30px;
}

.slide-merging-and-rebasing .slide-merging-and-rebasing__image-ff-merge {
    background-image: url("assets/images/slide-merging-and-rebasing__image-ff-merge.png");
    height: 80vh;
    width: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -3em;
    margin-top: 1em;
    display: block;
    z-index: 3;
}

.slide-merging-and-rebasing .flex-section {
    display: flex;
}

.slide-merging-and-rebasing .slide-merging-and-rebasing__image-db-merge-1 {
    background-image: url("assets/images/slide-merging-and-rebasing__image-db-merge-1.png");
    margin-top: -3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-merging-and-rebasing .slide-merging-and-rebasing__image-db-merge-2 {
    background-image: url("assets/images/slide-merging-and-rebasing__image-db-merge-2.png");
    margin-top: -2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-merging-and-rebasing .slide-merging-and-rebasing__image-rebasing-1 {
    background-image: url("assets/images/slide-merging-and-rebasing__image-rebasing-1.png");
    margin-top: -3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100vh;
    width: 100%;
}


.slide-merging-and-rebasing .slide-merging-and-rebasing__image-rebasing-2 {
    background-image: url("assets/images/slide-merging-and-rebasing__image-rebasing-2.png");
    margin-top: -2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100vh;
    width: 100%;
}

.slide-merging-and-rebasing .slide-merging, .slide-merging-and-rebasing .slide-merging {
    width: 50%;
}

.slide-merging-and-rebasing .slide-merging p {
    text-align: left;
    width: 100%;
    float: left;
    margin: auto;
    font-size: 1em;
}

.slide-merging-and-rebasing .slide-rebasing p {
    margin: auto;
    text-align: left;
}


