<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Nodira Ibrogimova">
    <meta name="subject" content="Lambda Restaurant">
    <meta name="datecreated" content="20180712">
    <title>LAMBDA Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="assets/images/favicon.ico" sizes="10x10">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
<header>
    <div class="container">
        <nav class="nav-fixed-top">

            <!-- a aria-label="mobile menu" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a -->
            <ul class="nav-fixed-top__menu" role="navigation">
                <li><a href="#" class="logo">LAMBDA</a></li>

                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#about" class="nav-link">About</a></li>
                <li><a href="#ingredients" class="nav-link">Ingredients</a></li>
                <li><a href="#menu" class="nav-link">Menu</a></li>
                <li><a href="#reviews" class="nav-link">Reviews</a></li>
                <li><a href="#reservations" class="nav-link">Reservations</a></li>
                <li><a href="#"><span class="twitter-icon"></span></a></li>
                <li><a href="#"><span class="youtube-icon"></span></a></li>
                <li><a href="#"><span class="facebook-icon"></span></a></li>
            </ul>

        </nav>
    </div>
</header>

<main>
    <section id="home" class="page-home">
        <article>
            <div class="home__center-block">
                <h1 class="home__header">the right ingredients for the right food</h1>
                <span class="home__decorator-pattern"></span>
                <div class="home__button-group">
                    <button class="home__button-group__book-a-table text-uppercase"><a href="#">book a table</a>
                    </button>
                    <button class="home__button-group__see-the-menu text-uppercase"><a href="#">see the menu</a>
                    </button>
                </div>
            </div>
        </article>
    </section>

    <section id="about" class="page-about">
        <div class="transparent-layer"></div>
        <article class="align-center flex-container">
            <div class="about__chef-text">
                <h1 class="about__chef-text__title">Just the right food</h1>
                <span class="divider-pattern--yellow"></span>
                <p>
                    If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming
                    back for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and
                    gourmet coffees make us hard to resist! Stop in today and check us out!
                </p>
                <span class="about__chef-text__img"></span>
            </div>
            <div class="about__dish-img">
                <span></span>
            </div>
        </article>
    </section>

    <section id="ingredients" class="page-ingredients">
        <article class="flex-container">
            <div class="page-ingredients__transparent-block align-center">
                <h1 class="page-ingredients__title">Fine ingredients</h1>
                <span class="divider-pattern--white"></span>
                <div class="page-ingredients__content align-center">
                    <p>
                        If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers
                        coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins,
                        and gourmet coffees make us hard to resist! Stop in today and check us out!
                    </p>
                    <span class="page-ingredients__image-list__wheat"></span>
                    <span class="page-ingredients__image-list__coffee"></span>
                    <span class="page-ingredients__image-list__bread"></span>
                </div>
                <div></div>
            </div>
        </article>
    </section>

    <section id="menu" class="page-menu">
        <div class="transparent-layer"></div>
        <article class="flex-container flex-start">
            <div class="page-menu__left">
                <h1 class="align-center page-menu__title">Appetisers</h1>
                <span class="divider-pattern--yellow"></span>


                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Tzatsiki</span>
                        <span class="page-menu__option__price">$3.99</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Refreshing traditional cucumber and garlic yoghurt dip.
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Aubergine Salad</span>
                        <span class="page-menu__option__price">$5.50</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">.Pureed eggplant, garlic, green pepper and tomato dip.
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Aubergine Salad</span>
                        <span class="page-menu__option__price">$5.50</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Pureed eggplant, garlic, green pepper and tomato
                        dip.
                    </div>
                </div>

                <h1 class="align-center page-menu__title">Salads</h1>
                <span class="divider-pattern--yellow"></span>


                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Olive Special</span>
                        <span class="page-menu__option__price">$5.99</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Refreshing traditional cucumber and garlic yoghurt
                        dip.
                    </div>
                </div>


                <div class="product-menu-tag">
                    <span class="tag-special">Special</span>
                </div>
                <div class="block-menu">
                    <div class="page-menu__option">
                        <div class="page-menu__option__text">
                            <span class="page-menu__option__name">Greek Salad</span>
                            <span class="page-menu__option__price">$5.50</span>
                        </div>
                        <div class="divider-line"></div>
                        <div class="page-menu__option__sub-text">.Pureed eggplant, garlic, green pepper and tomato
                            dip.
                        </div>
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Gusto Salad </span>
                        <span class="page-menu__option__price">$5.25</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Pureed eggplant, garlic, green pepper and tomato dip.
                    </div>
                </div>

            </div>

            <div class="page-menu__right">
                <h1 class="align-center page-menu__title">Starters</h1>
                <span class="divider-pattern--yellow"></span>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Haloumi</span>
                        <span class="page-menu__option__price">$3.99</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Refreshing traditional cucumber and garlic yoghurt
                        dip.
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Spinach Pie</span>
                        <span class="page-menu__option__price">$5.50</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">.Pureed eggplant, garlic, green pepper and tomato
                        dip.
                    </div>
                </div>

                <h1 class="align-center page-menu__title">Main Dishes</h1>
                <span class="divider-pattern--yellow"></span>


                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Cornish Mackerel</span>
                        <span class="page-menu__option__price">$5.99</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Refreshing traditional cucumber and garlic yoghurt
                        dip.
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Fried Chicken</span>
                        <span class="page-menu__option__price">$5.25</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Pureed eggplant, garlic, green pepper and tomato dip.
                    </div>
                </div>

                <div class="product-menu-tag">
                    <span class="tag-special">Special</span>
                </div>
                <div class="block-menu">
                    <div class="page-menu__option">
                        <div class="page-menu__option__text">
                            <span class="page-menu__option__name">Fried Chicken</span>
                            <span class="page-menu__option__price">$5.25</span>
                        </div>
                        <div class="divider-line"></div>
                        <div class="page-menu__option__sub-text">Pureed eggplant, garlic, green pepper and tomato
                            dip.
                        </div>
                    </div>
                </div>

                <div class="page-menu__option">
                    <div class="page-menu__option__text">
                        <span class="page-menu__option__name">Pastitsio</span>
                        <span class="page-menu__option__price">$5.99</span>
                    </div>
                    <div class="divider-line"></div>
                    <div class="page-menu__option__sub-text">Refreshing traditional cucumber and garlic yoghurt
                        dip.
                    </div>
                </div>

            </div>
        </article>
    </section>


    <section id="reviews" class="page-reviews">
        <article class="flex-container">
            <div class="row align-center">
                <h1 class="page-reviews__title">Guest Reviews</h1>
                <span class="divider-pattern--white"></span>
                <div class="page-reviews__quote">
                    <span class="page-reviews__quote-mark">“</span>
                    <p>If you’ve
                        been to one of our restaurants, you’ve seen – and
                        tasted – what keeps our customers coming back for more. Perfect materials and freshly baked
                        food,
                        delicious Lambda cakes, muffins, and gourmet coffees make us hard to resist! Stop in today and
                        check
                        us out!
                        <span class="page-reviews__quote-subtext">- food inc, New York</span>
                    </p>
                </div>
            </div>
        </article>
    </section>

    <section id="reservations" class="page-reservation">
        <div class="transparent-layer"></div>

        <div class="page-reservation__left">
            <span class="page-reservation__left__img1"></span>
            <span class="page-reservation__left__img2"></span>
        </div>

        <div class="page-reservation__right">
            <h1>Just the right food</h1>
            <span class="divider-pattern--yellow"></span>
            <p class="align-center">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our
                customers coming
                back
                for more. Perfect materials and freshly baked food.</p>

            <p class="align-center">Delicious Lambda cakes, muffins, and gourmet coffees make us hard to resist! Stop in
                today and check
                us
                out! Perfect materials and freshly baked food.</p>

            <form>

                <div class="form-float-left">
                    <div class="form-group">
                        <input type="text" required="required" placeholder="your name *"/>
                        <label for="select" class="control-label">Name</label><i class="bar"></i>
                    </div>

                    <div class="form-group">
                        <input type="email" required="required" placeholder="your email *"/>
                        <label for="select" class="control-label">Email</label><i class="bar"></i>
                    </div>
                </div>

                <div class="form-float-right">
                    <div class="form-group">
                        <input type="date" name="dateofreservation" id="dateofreservation" placeholder="date *">
                        <label for="select" class="control-label">Date</label><i class="bar"></i>
                    </div>

                    <div class="form-group">
                        <select id="select">
                            <option selected>party number</option>
                            <option>Value 1</option>
                            <option>Value 2</option>
                        </select>
                        <label for="select" class="control-label">Party number</label><i class="bar"></i>
                    </div>
                </div>

                <button class="submit-btn"><a href="#">Book now!</a></button>
            </form>
        </div>
    </section>
</main>

<footer>
    <section class="about-us">
        <h1>About Us</h1>
        <span class="divider-pattern--white"></span>
        <article>
            <p>Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring
                breakfasts of fresh croissants and steaming bowls of café. <br/>Lamda the best restaurant in town</p>

        </article>
    </section>

    <section class="opening-hours">
        <h1>Opening Hours</h1>
        <span class="divider-pattern--white"></span>
        <article>
            <span class="opening-hours__days">Mon-Thu:</span> <span class="opening-hours__time">7:00am-8:00pm</span>
            <span class="opening-hours__days">Fri-Sun:</span> <span class="opening-hours__time">7:00am-10:00pm</span>
            <div class="opening-hours__cards">
                <ul>
                    <li><a href="#"><i class="fab fa-cc-amex"></i></a></li>
                    <li><a href="#"><i class="fab fa-cc-paypal"></i></a></li>
                    <li><a href="#"><i class="fab fa-cc-visa"></i></a></li>
                    <li><a href="#"><i class="fab fa-cc-discover"></i></a></li>
                </ul>
            </div>
        </article>
    </section>

    <section class="our-location">
        <h1>Our Location</h1>
        <span class="divider-pattern--white"></span>
        <article>
            <p>19th Paradise Street Sitia
                128 Meserole Avenue</p>
            <div class="our-location__social-icons">
                <span></span>
            </div>
        </article>
    </section>

</footer>
</body>
</html>
