@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');
@import url('http://allfont.net/allfont.css?fonts=gentium-book-basic-bold');

body {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 9999;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

header li a:hover {
    border-top: 2px solid white;
}

.text-uppercase {
    text-transform: uppercase;
}

.align-center {
    text-align: center;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

}

.nav-fixed-top {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav-fixed-top__menu {
    display: flex;
}

.nav-fixed-top__menu .nav-link {
    font-family: 'Gentium Book Basic', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
    color: #FFFFFF;
    font-size: 21px;
    padding-right: 53px;
}

.nav-fixed-top__menu li:first-child {
    margin-right: auto;
}

.logo {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Yeseva One', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.youtube-icon {
    background-image: url("assets/icons/youtube-icon.svg");
    height: 21px;
    display: block;
    width: 21px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.facebook-icon {
    background-image: url("assets/icons/facebook-icon.svg");
    height: 21px;
    display: block;
    width: 21px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.twitter-icon {
    background-image: url("assets/icons/twitter-icon.svg");
    height: 21px;
    display: block;
    width: 21px;
    background-repeat: no-repeat;
    padding-right: 20px;
}


.page-home {
    background-image: url("assets/images/bg.png");
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.home__center-block {
    align-self: center;
    max-width: 960px;
}

.home__header {
    font-family: 'Yeseva One', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
    color: #FFFFFF;
    font-size: 5.625rem;
    font-weight: 400;
    text-align: center;
}

.home__decorator-pattern {
    background-image: url("assets/images/decoration.png");
    height: 58px;
    display: flex;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-block-end: 35px;
}

.home__button-group {
    text-align: center;
}

.home__button-group__book-a-table, .home__button-group__see-the-menu {
    padding: 18px 40px;
    background-color: transparent;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.home__button-group__book-a-table {
    margin-right: 22px;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.55);
}

.home__button-group__see-the-menu {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
}

a {
    color: #FFFFFF;
}

header .home__button-group__book-a-table a:-webkit-any-link, header .home__button-group__see-the-menu a:-webkit-any-link {
    color: #fff;
}

@media (max-width: 767.98px) {
    .home__header {
        font-size: 2.8125rem;
    }

    .home__button-group__book-a-table, .home__button-group__see-the-menu {
        font-size: .75rem;
    }

    .home__button-group__book-a-table {
        margin-right: 5px;
    }
}

/* Page About */
.page-about {
    background-image: url("assets/images/pattern-circle-black.png");
    width: 100%;
    height: 710px;
    position: relative;
}

.page-about article {
    display: flex;
    max-width: 80%;
    margin: auto;
}

.about__chef-text {
    flex: 1;
    z-index: 1;
    align-self: center;
}

.about__chef-text p {
    color: #4c4c4c;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 409px;
    margin-right: auto;
    margin-left: auto;
    margin-block-start: 32px;
}

.about__chef-text__title {
    color: #cc9900;
    font-family: "Yeseva One", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    margin-block-end: 15px;
}

.about__chef-text__img {
    background-image: url("assets/images/cook-avatar.png");
    display: block;
    width: 219px;
    height: 221px;
    margin: 52px auto;
}

.about__dish-img span {
    background-image: url("assets/images/cook-dish.png");
    display: block;
    width: 621px;
    height: 625px;
    -webkit-filter: drop-shadow(2px 3px 3px #b2b2b2);
    filter: drop-shadow(2px 3px 3px #b2b2b2);
}

.divider-pattern--yellow {
    background-image: url("assets/images/divider-pattern--yellow.png");
    max-width: 247px;
    height: 24px;
    display: block;
    margin: auto;
}

.about__dish-img {
    flex: 1;
    z-index: 1;
    align-self: center;
}

.transparent-layer {
    background-color: rgba(252, 252, 252, 0.97);
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 768.98px) {
    .page-about article {
        max-width: 95%;
    }

    .about__dish-img span {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 567.98px) {
    .page-about article {
        max-width: 95%;
    }

    .about__chef-text__title {
        font-size: 1.5rem;
    }

    .about__chef-text p {
        font-size: .875rem;
    }

}

/* End Page About */

/* Page Ingredients */
.page-ingredients {
    background-image: url("assets/images/bg-fine-ingredients.png");
    width: 100%;
    height: 758px;
}

.page-ingredients .flex-container {
    justify-content: flex-end;
}

.page-ingredients .page-ingredients__transparent-block {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 217px;
}

.page-ingredients .page-ingredients__content {
    max-width: 409px;
    font-family: Lato, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding-right: 81px;
    padding-left: 81px;
}

.page-ingredients .page-ingredients__transparent-block p {
    max-width: 409px;
    color: rgba(255, 255, 255, 0.9);
}

.page-ingredients .page-ingredients__transparent-block .divider-pattern--white {
    background-image: url("assets/images/divider-pattern.png");
    width: 247px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    background-position: center;
    margin-block-end: 4px;
}

.page-ingredients .page-ingredients__title {
    color: rgb(255, 255, 255);
    font-family: "Yeseva One", serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin-block-start: 83px;
    margin-block-end: 16px;
}

.page-ingredients__content {
    position: relative;
}

.page-ingredients__image-list__wheat {
    background-image: url("assets/images/wheat.jpg");
    margin-right: 20px;

}

.page-ingredients__image-list__coffee {
    background-image: url("assets/images/coffee.jpg");
    border: 5px solid rgba(255, 255, 255, 0.09);
    margin-right: 20px;
}

.page-ingredients__image-list__bread {
    background-image: url("assets/images/bread.jpg");
    border: 5px solid rgba(255, 255, 255, 0.09);
}

.page-ingredients__image-list__wheat, .page-ingredients__image-list__coffee, .page-ingredients__image-list__bread {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 109% 111%;
    background-position: center;
    margin-block-end: 4px;
    border: 5px solid rgba(255, 255, 255, 0.09);

}

@media (max-width: 768.97px ) {
    .page-ingredients .page-ingredients__transparent-block {
        margin-right: 20px;
    }
}

@media (max-width: 567.98px ) {
    .page-ingredients .page-ingredients__transparent-block {
        margin-right: 0px;
    }
}

/* End Page Ingredients */

/* Page Menu */

.page-menu {
    background-image: url("assets/images/pattern-6-angles.png");
    width: 100%;
    height: 994px;
    position: relative;
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.page-menu .flex-container {
    justify-content: space-evenly;
}

.page-menu .transparent-layer {
    background-color: rgba(32, 90, 91, 0.09);;
}

.page-menu article {
    display: flex;
    max-width: 80%;
    margin: auto;
    align-items: flex-start;
}

.page-menu article .page-menu__left, .page-menu article .page-menu__right {
    margin-top: 106px;
    flex: 1;
    z-index: 1;
}

.page-menu__title {
    color: #cc9900;
    font-family: "Yeseva One", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    margin-block-end: 16px;
    margin-right: auto;
    margin-left: auto;
}

.product-menu-tag {
    max-width: 454px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: -32px;
}

.tag-special {
    color: #f8fafa;
    font-family: Lato, serif;
    background-color: #c89f2d;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 5px;
    padding-left: 5px;
}

.block-menu {
    max-width: 452px;
    border: 1px solid #c89f2d;
    margin-right: auto;
    margin-left: auto;
    margin-block-end: 25px;
}

.block-menu .page-menu__option__sub-text {
    margin-block-end: 10px;
}

.block-menu .page-menu__option {
    margin-top: 10px;
}

.page-menu__option {
    max-width: 432px;
    margin-right: auto;
    margin-left: auto;
}

.page-menu__option__text {
    display: flex;
    justify-content: space-between;
}

.page-menu__option__name, .page-menu__option__price {
    color: #c89f2d;
    font-family: "Yeseva One", serif;
    font-size: 21px;
}

.divider-line {
    border-bottom: 1px solid #c89f2d;
    margin-block-start: 10px;
    margin-block-end: 10px;
    max-width: 430px;
}

.page-menu__option__sub-text {
    font-size: 1rem;
    font-family: "Lato - Regular", Lato, serif;
    font-weight: 400;
    color: #4c4c4c;
    margin-block-end: 37px;
}

.flex-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.page-menu .divider-pattern--yellow {
    margin-block-end: 30px;
}

/* End Page Menu */


/* Page Reviews */
.page-reviews {
    background-image: url("assets/images/bg-guest-reviews.png");
    width: 100%;
    height: 758px;
    background-position: center;
}

.page-reviews .row {
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 756px;
}

.page-reviews .flex-container .row .page-reviews__title {
    color: rgb(255, 255, 255);
    font-family: "Yeseva One", serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin-block-start: 82px;
    margin-block-end: 23px;
}

.page-reviews .flex-container .row .divider-pattern--white {
    background-image: url("assets/images/divider-pattern.png");
    height: 19px;
    width: 247px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    background-position: center;
    margin-block-end: 30px;
}

.page-reviews__quote {
    display: flex;
    flex-direction: row;
}

.page-reviews .page-reviews__quote p {
    max-width: 622px;
    font-size: 1.5625rem;
    line-height: 45px;
    font-family: "Gentium Book Basic Bold", 'Gentium Book Basic', serif;
    font-weight: 300;
    flex: 11;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: rgba(255, 255, 255, 0.85);
    padding-right: 74px;
}

.page-reviews .page-reviews__quote-mark {
    color: rgba(242, 244, 244, 0.6);
    font-family: Georgia, serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: 45px;
    flex: 1;
    margin-right: -25px;
    padding-left: 31px;
}

.page-reviews__quote-subtext {
    color: rgba(242, 244, 244, 0.85);
    font-family: Lato, "Gentium Book Basic", serif;
    font-size: 1.125rem;
    font-weight: 400;
    display: block;
    padding-top: 45px;
}

@media (max-width: 768.98px) {
    .page-reviews .page-reviews__quote-mark {
        padding-left: 10px;
    }

    .page-reviews .page-reviews__quote p {
        padding-right: 10px;
    }
}

@media (max-width: 425.98px) {
    .page-reviews .page-reviews__quote-mark {
        font-size: 5rem;
    }

    .page-reviews .page-reviews__quote p {
        font-size: 1.125rem;
    }

    .page-reviews__quote-subtext {
        font-size: 0.875rem;
    }

    .page-reviews .flex-container .row .page-reviews__title {
        font-size: 1.5rem;
    }

}

/* End Page Reviews */


/* Page Reservation */
.page-reservation {
    position: relative;
    display: flex;
    flex-direction: row;

    height: 708px;
    background-image: url("assets/images/pattern-circle-black.png");
}

.page-reservation .page-reservation__right, .page-reservation .page-reservation__left {
    display: flex;
}

.page-reservation__left {
    flex: 1;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
}

.page-reservation__right {
    flex: 1;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.page-reservation__left .page-reservation__left__img1, .page-reservation__left .page-reservation__left__img2 {
    width: 270px;
    height: 507px;
    box-shadow: inset 0px 0px 5px 5px rgba(251, 251, 251, 0.2);
}

.page-reservation__left .page-reservation__left__img1 {
    background-image: url("assets/images/book-form-food-1.png");
    margin-right: 30px;
}

.page-reservation__left .page-reservation__left__img2 {
    background-image: url("assets/images/book-form-food-2.png");
}

.page-reservation .divider-pattern--yellow {
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 100%;
    align-self: center;
    margin: 15px 0px 32px 0px;
}

.page-reservation .page-reservation__right h1 {
    color: #cc9900;
    font-family: "Yeseva One", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.page-reservation .page-reservation__right p {
    max-width: 417px;
    color: #4c4c4c;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
}

form {
    margin-right: auto;
    margin-left: auto;
}

.form-group [type="date"] {
    background: transparent url('assets/images/icon-calendar.png') 97% 50% no-repeat;
}

.form-group [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.form-group [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.form-group input,
.form-group select {
    color: #7c7c7c;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: italic;
    box-sizing: border-box;
}

input::after,
input::before,
select::after,
select::before {
    box-sizing: border-box;
}

.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    border: 1px solid #c8c6c6;
    width: 200px;
}

.form-group select {
    height: 32px;
    border: none;

    display: block;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    background-color: transparent;
    line-height: 1.9;
    width: 100%;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #c9a131;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group input {
    display: block;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    background-color: transparent;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}


.form-group select ~ .control-label, .form-group input ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label {
    font-size: 1rem;
    color: #c9a131;
    top: -1.3rem;
    left: 0;
}

.form-group select:focus,
.form-group input:focus {
    border: 1px solid #c9a131;
}

.form-group select:after,
.form-group input:after {
    border: 1px solid #c9a131;
}

.form-float-left .form-group {
    margin-right: 40px;
}

.form-float-left {
    display: inline-block;
}

.form-float-right {
    display: inline-block;
}

.submit-btn {
    width: 200px;
    height: 36px;
    border: 1px solid #c89f2d;
    background-color: #c89f2d;
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* End Page Reservation */

footer {
    display: flex;
    justify-content: center;
    background-color: #191919;
    bottom: 0px;
    width: 100%;
}

footer section {
    padding-top: 31px;
    padding-bottom: 36px;
    text-align: center;
}

footer .about-us {
    max-width: 343px;
    margin-right: 132px;
}

footer .about-us h1 {
    color: #fefefe;
    font-family: "Yeseva One", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;

}

footer .about-us article p {
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px
}

footer .opening-hours {
    max-width: 195px;
    margin-right: 202px;
}

footer .opening-hours article {
    margin-top: 15px;
}

footer .opening-hours h1 {
    color: #fefefe;
    font-family: "Yeseva One", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}

footer .opening-hours article .opening-hours__time {
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

footer .opening-hours article .opening-hours__days {
    font-family: "Open Sans", serif;
    font-weight: 700;
    color: #fff;
}

footer .opening-hours__cards {
    margin-top: 53px;
}

footer .opening-hours__cards i {
    color: #FFFFFF;
}

footer .opening-hours__cards li {
    display: inline;
    margin-right: 10px;
}

footer .our-location {
    max-width: 200px;
}

.our-location__social-icons {
    margin-top: 56px;

}

.our-location__social-icons span {
    background-image: url("assets/images/footer-social-icons.png");
    width: 88px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .our-location h1 {
    color: #fefefe;
    font-family: "Yeseva One", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}

footer .our-location article p {
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

footer .divider-pattern--white {
    background-image: url("assets/images/divider-pattern.png");
    width: 199px;
    height: 19px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    background-position: center;
}

@media (max-width: 768.98px) {
    footer .about-us {
        margin-right: 15px;
    }

    footer .about-us h1 {
        font-size: 14px;
    }

    footer .about-us article p {
        font-size: 12px;
    }

    footer .opening-hours {
        margin-right: 15px;
    }

    footer .opening-hours h1 {
        font-size: 14px;
    }

    footer .opening-hours article p {
        font-size: 12px;
    }

    footer .our-location {
        margin-right: 0px;
    }

    footer .our-location h1 {
        font-size: 14px;
    }

    footer .our-location article p {
        font-size: 12px;
    }


    footer .divider-pattern--white {
        width: 95px;
    }
}
